body {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 940px;
}
header {
  border-bottom: 1px solid #8096AB;
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width:426px) {
  header {
    -webkit-justify-content: space-around; /* Safari */
    justify-content: space-around;
  }
}
.logo {
  align-content: flex-start;
  color: #2d3c49;
  font-size: 3em;
  /*text-shadow: 2px 2px 2px #000;*/
}
#logo {
  align-self: baseline;
}
.headline {
  color: #2d3c49;
  line-height: .8em;
}
.headline h1 {
  font-size: 1.75em;
}
.headline h3 {
  font-size: 1.25em;
}

.hero {
  background-color: #8096ab;
  background-image: linear-gradient(rgba(125,151,173,0.5), rgba(180,218,249,0.5) );
  /*rgba(95,112,127,0.5),*/
  border: 1px solid #7d97ad;
  border-radius: .5em;
  display: flex;
  min-height: 5em;
  justify-content: center;
  margin: .5em auto .25em auto;
  width: 80%;
}
@media screen and (max-width:375px) {
  .hero {
    background-image: repeating-radial-gradient(rgba(125,151,173,0.5), rgba(125,151,173,1), rgba(180,218,249,0.5) );
  }
}
